/* reset.css */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  font-size: 17px;
  scroll-behavior: smooth;
}
@media (min-width: 480px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 21px;
  }
}

body {
  background: #f8f9fb;
  color: #171922;
  font-family: "Rubik", sans-serif;
  line-height: 1.5rem;
}

h1 {
  font-size: 2.6180339887rem;
  font-weight: 700;
  line-height: 1.1em;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
h1.small {
  font-size: 2.0581710273rem;
  line-height: 1.15em;
}

h2, h3, h4 {
  color: #45464f;
  font-weight: 600;
}

h2 {
  color: #846158;
  font-size: 1.2720196495rem;
  letter-spacing: 3px;
  line-height: 1.25em;
  text-transform: uppercase;
  padding-top: 2.25rem;
}
h2:not(.h2-results-updish) {
  padding-bottom: 0.75rem;
}

h3 {
  font-size: 1.6180339887rem;
  line-height: 1.2em;
  padding-bottom: 0.75rem;
}

p + h3 {
  padding-top: 1.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.3em;
  padding-bottom: 0.65em;
}

p.big {
  font-size: 1.2720196495rem;
  line-height: 1.45em;
  padding-bottom: 1.45em;
}
p.tagline {
  color: #6c6d75;
  font-size: 1.2720196495rem;
  line-height: 1.2em;
  padding-bottom: 0.75rem;
}

.case-study p:not(.tagline), #about p:not(.tagline) {
  font-family: utopia-std, serif;
  padding-bottom: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}
a:not(.top-btn):hover, a.active {
  border-bottom: 2px solid #3c57a1;
  color: #3c57a1;
}
a.active {
  border-width: 3px;
}

.text a, a.miiipoclink  {
  color: #3c57a1;
  border-bottom: 2px solid #3c57a1;
}
.text a:hover, a.miiipoclink:hover  {
  border: none;
  color: #364e91;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  height: auto;
}

figure {
  color: #6c6d75;
  font-family: utopia-std, serif;
  font-size: 0.8866517793rem;
  line-height: 1.4em;
  padding-bottom: 1.5rem;
  text-align: center;
}
figure.sm {
  padding: 0 10% 1.5rem;
}
figure.md {
  padding: 0 5% 1.5rem;
}
figure figcaption {
  margin-top: 0.75rem;
}
figure + figure {
  padding-top: 2.25rem;
}

nav:not(#contents) {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: repeat(2, auto);
  padding-top: 2.25rem;
  margin-bottom: 1.5rem;
  margin-left: 6.25%;
  margin-right: 6.25%;
  color: #45464f;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  nav:not(#contents) {
    padding-top: 3rem;
  }
}
@media (min-width: 768px) {
  nav:not(#contents) {
    margin-left: 9.375%;
    margin-right: 9.375%;
  }
}
@media (min-width: 1200px) {
  nav:not(#contents) {
    margin-left: 12.5%;
    margin-right: 12.5%;
  }
}
nav:not(#contents) .left {
  grid-area: 1/1/2/3;
  margin: auto;
}
@media (min-width: 768px) {
  nav:not(#contents) .left {
    grid-area: 1/1/3/2;
  }
}
@media (min-width: 768px) {
  nav:not(#contents) .left {
    margin: initial;
  }
}
nav:not(#contents) .left img {
  width: 60px;
}
@media (min-width: 768px) {
  nav:not(#contents) .left img {
    width: 70px;
  }
}
nav:not(#contents) .left a:hover {
  border: none;
}
nav:not(#contents) .right {
  grid-area: 2/1/3/3;
  margin: auto 0;
  text-align: center;
}
@media (min-width: 768px) {
  nav:not(#contents) .right {
    grid-area: 1/2/3/3;
  }
}
@media (min-width: 768px) {
  nav:not(#contents) .right {
    text-align: right;
  }
}
nav:not(#contents) .right a:hover {
  border-width: 3px;
}
nav:not(#contents) .space {
  padding: 0 1.5em;
}
@media (min-width: 1200px) {
  nav:not(#contents) .space {
    padding: 0 2em;
  }
}
nav:not(#contents)#nav-index .right a {
  color: #d8ddec;
}
nav:not(#contents)#nav-index .right a:hover {
  border-color: #eceef6;
  color: #fbfcfd;
}

#contents {
  display: none;
  align-self: start;
  position: sticky;
  top: 20%;
  z-index: 1;
  font-size: 0.7861513778rem;
  letter-spacing: 0.4px;
  line-height: 1.35em;
  padding: 1% 1.5%;
  transition: 200ms ease;
}
@media (min-width: 768px) {
  #contents {
    grid-area: 2/1/3/2;
  }
}
@media (min-width: 768px) {
  #contents {
    display: block;
  }
}
@media (min-width: 768px) {
  #contents {
    margin-left: 3.125%;
    margin-right: 75%;
  }
}
@media (min-width: 1200px) {
  #contents {
    margin-left: 9.375%;
    margin-right: 75%;
  }
}
#contents li:not(.last) {
  padding-bottom: 0.5em;
}
#contents a {
  color: #6c6d75;
}
#contents a:hover {
  color: #3c57a1;
}
#contents li.active > a {
  color: #846158;
  font-weight: 600;
}
#contents li.active > a:hover {
  color: #3c57a1;
}

.case-study {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
}
.case-study .overview {
  grid-area: 1/1/2/2;
}
.case-study .overview h1, .case-study .overview h2:not(.h2-problem), .case-study .overview p:not(.big), .case-study .overview figure:not(.hero), .case-study .overview .list {
  margin-left: 6.25%;
  margin-right: 6.25%;
}
@media (min-width: 768px) {
  .case-study .overview h1, .case-study .overview h2:not(.h2-problem), .case-study .overview p:not(.big), .case-study .overview figure:not(.hero), .case-study .overview .list {
    margin-left: 9.375%;
    margin-right: 9.375%;
  }
}
@media (min-width: 1200px) {
  .case-study .overview h1, .case-study .overview h2:not(.h2-problem), .case-study .overview p:not(.big), .case-study .overview figure:not(.hero), .case-study .overview .list {
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media (min-width: 768px) {
  .case-study .overview figure.hero {
    margin-left: 3.125%;
    margin-right: 3.125%;
  }
}
@media (min-width: 1200px) {
  .case-study .overview figure.hero {
    margin-left: 9.375%;
    margin-right: 9.375%;
  }
}
.case-study .overview #table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);
  margin-left: 6.25%;
  margin-right: 6.25%;
  gap: 0 1em;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
@media (min-width: 1200px) {
  .case-study .overview #table {
    margin-left: 18.75%;
    margin-right: 18.75%;
  }
}
.case-study .overview #table .categories {
  grid-area: 1/1/2/6;
}
@media (min-width: 768px) {
  .case-study .overview #table .categories {
    grid-area: 1/1/6/2;
  }
}
.case-study .overview #table .roles {
  grid-area: 2/1/3/6;
}
@media (min-width: 768px) {
  .case-study .overview #table .roles {
    grid-area: 1/2/6/3;
  }
}
.case-study .overview #table .time {
  grid-area: 3/1/4/6;
}
@media (min-width: 768px) {
  .case-study .overview #table .time {
    grid-area: 1/3/6/4;
  }
}
.case-study .overview #table .tools {
  grid-area: 4/1/5/6;
}
@media (min-width: 768px) {
  .case-study .overview #table .tools {
    grid-area: 1/4/6/5;
  }
}
.case-study .overview #table .team {
  grid-area: 5/1/6/6;
}
@media (min-width: 768px) {
  .case-study .overview #table .team {
    grid-area: 1/5/6/6;
  }
}
.case-study .overview #table h3, .case-study .overview #table p {
  font-size: 0.8866517793rem;
  line-height: 1.3em;
  margin: 0;
}
.case-study .overview #table h3 {
  padding-bottom: 0.65em;
}
.case-study .overview .problem {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
  padding: 3rem 10vw 3.75rem;
}
@media (min-width: 768px) {
  .case-study .overview .problem {
    margin-left: 3.125%;
    margin-right: 3.125%;
  }
}
@media (min-width: 1200px) {
  .case-study .overview .problem {
    margin-left: 15.625%;
    margin-right: 15.625%;
  }
}
.case-study .overview .problem h2, .case-study .overview .problem p {
  padding: 0;
}
.case-study .overview .problem h2 {
  text-align: center;
  padding-bottom: 0.75rem;
}
.case-study .overview .problem-updish {
  background: url(../img/paper-updish.svg) center center/100% 100% no-repeat;
}
.case-study .overview .problem-updish h2, .case-study .overview .problem-updish p {
  background: #005d54;
  color: #e6f3f2;
}
.case-study .overview .problem-tsf {
  background: url(../img/paper-tsf.svg) center center/100% 100% no-repeat;
}
.case-study .overview .problem-tsf h2, .case-study .overview .problem-tsf p {
  background: #162156;
  color: #e8e9ee;
}
.case-study .overview .problem-hw {
  background: url(../img/paper-hw.svg) center center/100% 100% no-repeat;
}
.case-study .overview .problem-hw h2, .case-study .overview .problem-hw p {
  background: #45515c;
  color: #eff1f3;
}
.case-study .text {
  grid-area: 2/1/3/2;
}
.case-study .text h2:not(.h2-results-updish), .case-study .text h3, .case-study .text p, .case-study .text figure:not(.updish-screens), .case-study .text .list, .case-study .text .button {
  margin-left: 6.25%;
  margin-right: 6.25%;
}
@media (min-width: 768px) {
  .case-study .text h2:not(.h2-results-updish), .case-study .text h3, .case-study .text p, .case-study .text figure:not(.updish-screens), .case-study .text .list, .case-study .text .button {
    margin-left: 28.125%;
    margin-right: 9.375%;
  }
}
@media (min-width: 1200px) {
  .case-study .text h2:not(.h2-results-updish), .case-study .text h3, .case-study .text p, .case-study .text figure:not(.updish-screens), .case-study .text .list, .case-study .text .button {
    margin-left: 31.25%;
    margin-right: 18.75%;
  }
}
.list {
  background: #dbe2e9;
  margin-bottom: 1.5rem;
  padding: 3% 6%;
}
@media (min-width: 768px) {
  .list {
    padding: 2% 3%;
  }
}
.list li {
  font-family: utopia-std, serif;
  font-size: 0.8866517793rem;
  line-height: 1.4em;
  list-style-type: disc;
}

#results-updish {
  background: #f8f9fb;
  padding-bottom: 0.75rem;
  position: relative;
  text-align: center;
  z-index: 2;
  transform: translate3d(0, 0, 0);
}

#index-banner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, auto);
  background: #243461;
  box-shadow: 0 0 0 1vw #f8f9fb inset;
}
#index-banner nav {
  grid-area: 1/1/2/2;
}
#index-banner #welcome {
  grid-area: 2/1/3/2;
  background: url(../img/paper-welcome.svg) center center/100% 100% no-repeat;
  margin-bottom: 2.25rem;
  margin-left: 3.125%;
  margin-right: 3.125%;
  padding: 1.5rem 4%;
}
@media (min-width: 1200px) {
  #index-banner #welcome {
    margin-top: 0.75rem;
  }
}
@media (min-width: 768px) {
  #index-banner #welcome {
    margin-bottom: 3rem;
  }
}
@media (min-width: 1200px) {
  #index-banner #welcome {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 768px) {
  #index-banner #welcome {
    margin-left: 9.375%;
    margin-right: 9.375%;
  }
}
@media (min-width: 1200px) {
  #index-banner #welcome {
    margin-left: 15.625%;
    margin-right: 34.375%;
  }
}
@media (min-width: 768px) {
  #index-banner #welcome {
    padding: 2.25rem 4% 3rem;
  }
}
#index-banner h1 {
  color: #eceef6;
  font-size: 1.8248810035rem;
  font-weight: 500;
  text-align: center;
}
@media (min-width: 768px) {
  #index-banner h1 {
    font-size: 2.3212844944rem;
  }
}
@media (min-width: 768px) {
  #index-banner h1 {
    text-align: left;
  }
}

#portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 0 1rem;
  padding-top: 1.5rem;
  margin-left: 3.125%;
  margin-right: 3.125%;
}
@media (min-width: 768px) {
  #portfolio {
    margin-left: 6.25%;
    margin-right: 6.25%;
  }
}
#portfolio a.miipoc {
  grid-area: 3 / 1 / 4 / 3;
}
@media (min-width: 992px) {
  #portfolio a.miipoc {
    grid-area: 2 / 2 / 3 / 3;
  }
}
#portfolio a.drshelper {
  grid-area: 2 / 1 / 3 / 3;
}
@media (min-width: 992px) {
  #portfolio a.drshelper {
    grid-area: 2 / 1 / 3 / 2;
  }
}
#portfolio a.updish {
  grid-area: 1 / 1 / 2 / 3;
}
@media (min-width: 992px) {
  #portfolio a.updish {
    grid-area: 1 / 1 / 2 / 3;
  }
}
#portfolio a.storyworks {
  grid-area: 4/1/5/3;
}
@media (min-width: 992px) {
  #portfolio a.storyworks {
    grid-area: 3/1/4/2;
  }
}
#portfolio a.homework {
  grid-area: 5/1/6/3;
}
@media (min-width: 992px) {
  #portfolio a.homework {
    grid-area: 3/2/4/3;
  }
}
#portfolio a section {
  border: 1px solid #f8f9fb;
  border-radius: 12px;
  margin-bottom: 1.5rem;
  padding: 0.75rem;
  transition: 200ms ease-in;
}
#portfolio a section h2 {
  color: #171922;
  font-size: 1.6180339887rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.2em;
  padding-top: 1.5rem;
  text-transform: none;
}
#portfolio a section h2.featured {
  font-size: 2.0581710273rem;
  line-height: 1.1em;
}
#portfolio a section p {
  color: #6c6d75;
  padding-bottom: 0.75rem;
}
#portfolio a section p.feat-tag {
  font-size: 1.2720196495rem;
  line-height: 1.25em;
  padding-bottom: 0.625em;
}
#portfolio a section:hover {
  background: #eceef6;
}
#portfolio a section:hover h2 {
  color: #171922;
}
#portfolio a section:hover p {
  color: #45464f;
}
#portfolio a:hover {
  border: none;
}

footer {
  background: inherit;
  padding: 1.5rem 0 0.75rem;
  position: relative;
  z-index: 2;
}

#footer {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: repeat(2, auto);
  margin-left: 6.25%;
  margin-right: 6.25%;
  border-top: 1px solid #45464f;
  padding: 0.75rem;
  color: #45464f;
  font-size: 0.7861513778rem;
  letter-spacing: 0.4px;
  line-height: 1.35em;
  text-align: center;
}
@media (min-width: 768px) {
  #footer {
    margin-left: 9.375%;
    margin-right: 9.375%;
  }
}
@media (min-width: 1200px) {
  #footer {
    margin-left: 12.5%;
    margin-right: 12.5%;
  }
}
#footer .footer-left {
  grid-area: 1/1/2/3;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  #footer .footer-left {
    grid-area: 1/1/3/2;
  }
}
@media (min-width: 992px) {
  #footer .footer-left {
    text-align: left;
  }
}
#footer .footer-right {
  grid-area: 2/1/3/3;
}
@media (min-width: 992px) {
  #footer .footer-right {
    grid-area: 1/2/3/3;
  }
}
@media (min-width: 992px) {
  #footer .footer-right {
    text-align: right;
  }
}
#footer .space {
  padding-left: 0.8em;
  padding-right: 0.8em;
}

#about {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(2, auto);
}
#about .about-text, #about .about-img {
  padding: 1.5rem 5% 0;
}
#about .about-text {
  grid-area: 1/1/2/17;
}
@media (min-width: 768px) {
  #about .about-text {
    grid-area: 1/3/2/15;
  }
}
@media (min-width: 1200px) {
  #about .about-text {
    grid-area: 1/8/3/14;
  }
}
#about .about-text h1 {
  font-size: 2.0581710273rem;
}
#about .about-img {
  grid-area: 2/2/3/16;
  margin: auto 0;
}
@media (min-width: 768px) {
  #about .about-img {
    grid-area: 2/5/3/13;
  }
}
@media (min-width: 1200px) {
  #about .about-img {
    grid-area: 1/4/3/8;
  }
}

.bar-container, .bar {
  height: 1.5vh;
  min-height: 8px;
}

.bar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.bar {
  background: #7789bd;
  width: 0%;
}

h2 + div.button {
  padding-top: 0.75rem;
}

button.primary {
  background: #364e91;
  border: 3px solid #364e91;
  border-radius: 12px;
  box-shadow: 0 4px 8px 1px rgba(18, 26, 48, 0.3);
  color: #eceef6;
  display: block;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin: 0 auto 1.5rem;
  padding: 1em 2em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: 100ms ease;
}
button.primary:hover {
  background: #eceef6;
  border-color: #3c57a1;
  color: #3c57a1;
}
button.secondary {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 1;
  min-width: 60px;
  min-height: 36px;
  padding: 1em 1.5em;
  justify-content: center;
  align-items: center;
  background: #6e6e6e;
  transition: 300ms ease-in;
  border-radius: 12px;
  color: #f5f5f5;
  font-size: 0.8866517793rem;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
}
button.secondary:hover {
  background: #5e5e5e;
}

/*# sourceMappingURL=style.css.map */
